.brand-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  .brand-slogn {
    width: 33%;
    height: 60%;
  }
  .brand-container {
    width: 67%;
    height: 100%;
    .brand-list {
      width: 80%;
      margin-left: 80px;
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;
      align-content: flex-start;
    }

  }

}