.brand-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  .brand-slogn {
    width: 33%;
    height: 60%;
  }
  .brand-container {
    width: 67%;
    height: 100%;
    .brand-list {
      width: 80%;
      height: 95%;
      margin: auto;
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
    }
    .brand-page {
      width: 20%;
      margin: auto;
    }


  }

}