  .blank-wrapper {
    width: 100%;
    text-align: left;
    .blankmeg {
      display: inline-block;
      text-align: left;
      font-size: 20px;
      margin-left: 50%;
      margin-top: 50px;
      p {
        line-height: 80px;
      }
      .gohome {
        width: 100px;
        text-align: center;
        padding: 6px 0;
        font-size: 16px;
        border: 1px solid #000;
        border-radius: 6px;
        cursor: pointer;
      }
    }
  }