.card-wrapper {
  margin: 15px;
  width: 130px;
  height: 90px;
  background-color: #fff;
  border-radius: 10px;
  opacity: 0.8;
  .card-main {
    display: inline-block;
    padding: 10px;
    color: #000;
    .title {
      padding: 4px 0;
      text-align: left;
      font-size: 16px;
      font-weight: 600;
    }
    .brandlogo {
      img {
        width:100%;
      }
    }
  }
  .card-bottom {
    position: relative;
    .label-wrapper {
      padding: 0 10px;
      font-size: 12px;
      text-align: left;
      .label {
        display: inline-block;
        display: inline-block;
        padding: 4px 8px;
        margin-right: 2px;
        border-radius: 10px;
        background-color: #ccc;
      }
    }
    .collect {
      position: absolute;
      right: 10px;
      bottom: 0px;
    }
  }
  
}