.favorite-wrapper {
  display: flex;
  width: 100%;
  .img-wrapper {
    width: 30%;
    margin-left: 4rem;
    margin-top: 2rem;
    .avatar {
      width: 90%;
      height: 35rem;
      background-image: url('../../../public/xhp0.jpg');
      background-repeat: no-repeat;
      background-size: 100%;
    }
    .buybtn {
      display: block;
      width: 20%;
      padding: 0.5rem 1rem;
      margin-top: 1rem;
      border: 0.1rem solid #000 ;
    }
  }
  .desc-wrapper {
    width: 50%;
    margin: auto;
    margin-left: 10rem;
    text-align: left;
    .text-wrapper {
      min-height: 58rem;
      .name {
        font-weight: 900;
        font-size: 4rem;
      }
      .symbol {
        font-size: 1.2rem;
        margin-top: 2rem;
        span {
          margin-right: 1rem;
          padding: 0.2rem 0.6rem;
          border: 0.1rem solid #000;
          border-radius: 0.6rem;
        }
      }
      .desc,
      .reason {
        display:block;
        padding:rem 1rem;
        line-height:3rem;
        margin-top: 2rem;
        width: 60%;
        font-size: 1.4rem;
      }
    }
    .border-wrapper {
      text-align: center;
      color: #9a9a9a;
      margin-bottom: 2rem;
    }
    .pics-wrapper {
      width: 100%;
      font-size: 0;
      .pics {
        width: 100%;
        img {
          width: 100%;
        }
      }
    }
  }
  .fav-blank {
    width: 100%;
  }
}