.nav_wrapper {
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 15px;
  .title {
    position: relative;
    padding: 6px;
    font-weight: 700;
    color: #685b5b;
    cursor: pointer;
    .navname{
      padding: 6px;
      &:hover {
        border-bottom: 1px solid #000;
      }
    }
    .active {
      border-bottom: 1px solid #fff;
      background: #fff;
      border: 1px solid #000;
    }
  .clicktype {
    display: block;
    position: absolute;
    top: 40px;
    left: 5px;
    padding: 5px;
    width: 70px;
    background: #ffffff;
    z-index: 100;
    .typesingle {
      margin: 10px 0;
      cursor: pointer;
    }
  }
  }
  .collect {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 30px;
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    cursor: pointer;
  }
}