.nav_wrapper {
  height: 10rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5rem;
  .title {
    position: relative;
    padding: 0.6rem;
    font-weight: 700;
    color: #685b5b;
    cursor: pointer;
    .navname{
      padding: 0.6rem;
      &:hover {
        border-bottom: 0.1rem solid #000;
      }
    }
    .active {
      border-bottom: 0.1rem solid #fff;
      background: #fff;
      border: 0.1rem solid #000;
    }
  .clicktype {
    display: block;
    position: absolute;
    top: 4rem;
    left: 0.5rem;
    padding: 0.5rem;
    width: 7rem;
    background: #ffffff;
    z-index: 200;
    .typesingle {
      margin: 1rem 0;
      position: relative;
      cursor: pointer;
      .clicktypetwosingle {
        position: absolute;
        left: 7.5rem;
        top: -1.5rem;
        padding: 0.5rem;
        width: 7rem;
        background: #ffffff;
        .typetwosingle {
          margin: 1rem 0;
          cursor: pointer;
        }
      }
    }
  }
  }
  .collect {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9rem;
    height: 3rem;
    background-color: #fff;
    color: #000;
    border: 0.1rem solid #000;
    cursor: pointer;
  }
}